#title{
  font-family: cursive;
  font-size: 30px;
  text-decoration: underline;
  text-align: center;
}
#game_stats_box{
  position:absolute;
  width:300px;
  height:600px;
  content:url(images/game_stats_box.png);
}
#white-stats{
  position: absolute;
  top: 20px;
  left: 10px;
  text-decoration: underline;
  font-family: sans-serif;
}
#black-stats{
  position:absolute;
  top:300px;
  left:10px;
  text-decoration: underline;
  font-family: sans-serif;
}
#game_holder{
  position: relative;
  width:900px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 10px;
  border-color:grey;
}
#board{
  position: absolute;
  left: 300px;
  width:600px;
  height:600px;
  border-left-style: solid;
  border-left-width: 4px;
  border-left-color: black;
}
.cross-button{
  position:absolute;
  width: 20px;
  height: 20px;
  //background-color: black;
}
.stone-image{
  position:absolute;
  width: 27px;
  height: 27px;
}
body{
  margin: 0px;
}
